page-home {
    img {
        width: 100%;
       
    }

    .post{
       border-radius: 5%;
       padding-top: 35px;
       padding-bottom: 35px;
    }

    .post-title {
        color: azure;
        text-align: center;
        font-weight: bold;
        background-color: black;
    }
}
